.logo-title{
    display: flex;
    justify-content: center;
}

.form-login{
    margin-top: 10px;
    padding: 30px;

}

.button-login{
    text-align: center;
    padding: 30px;
}

.login-content{
    margin-top: 20px;
}

.form-credit{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}