<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-content">
    <div class="logo-title">
      <img src="../../assets/icon/logo.png" width="120"  />
    </div>
    <div class="form-login">
      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input color="white" placeholder="Your login..."></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" placeholder="Your password..."></ion-input>
      </ion-item>
    </div>
  
    <div class="button-login">
      <ion-button expand="block" color="light">Login</ion-button>
      <ion-button expand="block">Connect with Facebook<ion-icon name="logo-facebook"></ion-icon></ion-button>
    </div>

    <ion-label class="form-credit">Weyko ©</ion-label>
  </div>
</ion-content>
